.loginButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;

  cursor: pointer;
}
.loginButton a {
  text-decoration: none;
  color: inherit;
}
.logo {
  display: flex;
  justify-content: center;
}
.menuBar {
  display: flex;

  list-style: none;
}
.menuBar li {
  padding: 10px;
}
.menuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  position: absolute;
  right: 40px;
}
.search input {
  border: none;
  border-bottom: 1px solid black;
}
.search input:focus {
  outline: none;
}
.cardItem {
  transition: all 0.5s;
  position: relative;
}
.cardItem img {
  width: 300px;
}

.cardItem:hover {
  transform: scale(1.05);
  z-index: 999;
}
.productImg {
  display: flex;
  justify-content: flex-end;
}

.buyButton {
  margin-top: 30px;
  width: 100%;
}
.choice {
  font-size: 13px;
  padding: 5px;
}
